<h3>Pages</h3>
<!-- page_type, title, body, is_published -->
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Page Type</th>
			<th>Body</th>
			<th>Published?</th>
		</tr>
	</thead>
	<% @pages.each do |p| %>
	<tbody>
		<tr>
			<td><%= p.title %></td>
			<td><%= p.page_type %></td>
			<td><%= p.body %></td>
			<td><%= p.is_published %></td>
			<td>
				
			</td>		
		</tr>
	</tbody>
	<% end %>
</table>
<%= link_to 'Add Page', new_admin_page_path %>