<%= render 'header' %>
<div class="container">
	<header class="masthead">
		<h3 class='masthead-title'>@webdevescobar</h3>
		<%= render 'navigation' %>
	</header>
	<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
		<div class="alert.alert-error"><%= flash[:alert] %></div>
  <% end %>
	<%= yield %>
</div> <!-- end container -->
<%= render 'footer' %>
